@font-face {
    font-family: "KyivType Sans";
    src: url("../fonts/KyivTypeSansRegular2/font.woff2") format("woff2"),
      url("../fonts/KyivTypeSansRegular2/font.woff") format("woff");
  }
  @font-face {
    font-family: "KyivType Sans";
    src: url("../fonts/KyivTypeSansMedium2/font.woff2") format("woff2"),
      url("../fonts/KyivTypeSansMedium2//font.woff") format("woff");
    font-weight: 500;
  }
  @font-face {
    font-family: "KyivType Sans";
    src: url("../fonts/KyivTypeSansBold2/font.woff2") format("woff2"),
      url("../fonts/KyivTypeSansBold2/font.woff") format("woff");
    font-weight: bold;
  }
  @font-face {
    font-family: 'Filson Pro';
    src: local('Filson Pro Regular'), local('Filson-Pro-Regular'),
        url('../fonts/FilsonPro-Regular/FilsonPro-Regular.woff2') format('woff2'),
        url('../fonts/FilsonPro-Regular/FilsonPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Filson Pro';
    src: local('Filson Pro Regular Italic'), local('Filson-Pro-Regular-Italic'),
        url('../fonts/FilsonPro-RegularItalic/FilsonPro-RegularItalic.woff2') format('woff2'),
        url('../fonts/FilsonPro-RegularItalic/FilsonPro-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Filson Pro';
    src: local('Filson Pro Bold'), local('Filson-Pro-Bold'),
        url('../fonts/FilsonPro-Bold/FilsonPro-Bold.woff2') format('woff2'),
        url('../fonts/FilsonPro-Bold/FilsonPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }