
/* Color Theme */
.color-one-text{
    color: #C3D7CF;
}
.color-one-background{
    background-color: #C3D7CF;
}
.color-two-text{
    color: #484E5A;
    }   
.color-two-background{
    background-color: #484E5A;
}
.color-three-text{
    color: #D1C8C4;
    }  
.color-three-background{
    background-color: #D1C8C4;
}
.color-four-text{
    color: #9FB4D3;
    }
.color-four-background{
    background-color: #9FB4D3;
}
.color-five-text{
    color: #EFEDE3;
    }    
.color-five-background{
    background-color: #EFEDE3;
}
.color-highlight-text{
    color: #FFF05A;
    }   
.color-highlight-background{
    background-color: #FFF05A;
}

/* Fonts */
.filson {
    font-family: "Filson Pro";
  }
  .kyiv {
    font-family: "KyivType Sans";
  }
  .poppins {
    font-family: "Poppins";
  }

nav{
height: 60px;
display: flex;
flex-direction:row;
align-content: center;
}

h1{
    font-family: "Filson Pro";
    /* color:white; */
    text-decoration: solid;
    text-size-adjust: 12;
    font-size: 40px; 
    margin-bottom: 0;
 
}

p{

    margin-top: 0;
    font-size: 20px;
    font-family: "Poppins"

}

.burger img {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}
.logo{
 
height: 60px;
margin: auto;
flex-basis: 90%;

}

.logoPng{
  max-width: 100%; 
  max-height: 100%; 
}

.burger{
    margin: auto;
    flex-basis: 10%;

}



/* menu from burger */


.menuLinks:hover{
    color:#9FB4D3;
    border-bottom: 1px solid;
}


a { color: black;
    text-decoration: none; }
  

a:visited {
    color: black;
    text-decoration: none;     
}


.cloak{
visibility: hidden;
}

.show{
visibility: visible;
}


.floatMenuContainer{

display:flex;
justify-content: center;
border: .5px solid #D1C8C4;
background:white;
z-index: 10;
position: absolute;
top: 50px;
right: 50px;
height: 40vh;
width: 70vw;
border-radius: 5px 5px 5px 5px;


}

.floatMenu{
display: flex;
flex-direction: column;
justify-content:space-around;
padding: 10px 0 10px 0;
text-align: center;



}

.noneDisplay{
    display: none;
}

.show{
    display: block;
}


.menuLinks{
    /* display:none; */
}

/* Hero */


.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.175),rgba(0, 0, 0, 0.075)), url("/images/hero-weight-carry.jpg");
    height: 75vh;
    background-size:cover;
    background-position: center;
    margin: auto;
 
    display: block;
    opacity: 0.6;
    display: flex;
  

}

@media only screen and (min-width: 473px) {
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.175),rgba(0, 0, 0, 0.075)), url("/images/shona-standing.jpg")
    }
  }

.hero-container{
text-align: center;
display: flex;
flex-direction: column;
/* justify-content: center; */
line-height: 35px;
text-align: left;
padding: 5px;

}

.wavy{
    animation:  typing 3.5s steps(40, end);
    animation-delay: calc(.1s * var(--i));
    overflow: hidden;
    white-space: nowrap;
  }
@keyframes typing {
 from {width: 0}
    to {width: 100%}
  }

/* Text Hero Section */

.text-hero-section{
  
height: 400px;
}

.text-hero-section-right{
    
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    border: red solid;
    /* height: 60vh; */
    

 
  
   
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: red solid;
}

.grid-container-item{
    display:flex;
    flex-direction: column;
    border: red solid;
}

.grid-container-item img{
    height: auto;
    width: 100%;
   
    
}

.image-container.grid-container.grid-container-item img{
 
    height: auto;
    width: 100%;
    border-radius: 50px 50px 50px 50px;
    max-width:700px;
   

    
}

.zero-margin{
    margin:0;
}

.container-header{
    font-size:30px;
    font-family: "Filson Pro";
}

.faq-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* height: 400px; */
    padding-bottom: 75px ;
}
.faq-block{
    /* border: red solid; */
    
    
}
.collapsible {
    background-color:#C3D7CF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    
  }

  .active, .collapsible:hover {
    background-color:#D1C8C4
  }
  
  .content {
    padding: 10px 10px 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    min-height: 75px;

}

  .faq-content-p{
    font-size:12px;
  }
  


/* Does the below need to be CamelCase if it appears in the JS */

.revealUp {
    opacity: 0;
    /* visibility: hidden; */
  }
  .spacer {
    height: 50vh;
    background-color: #000;
  }

/* carosel */

.glider-container-slide{
    display:flex;
    padding: 10px;
    flex-direction: column;
}

.glider-container-slide-top{
    /* flex-basis: 10%; */
    margin-bottom:10px 
}

.glider-container-slide-bottom{
    /* background:#9FB4D3; */
    /* flex-basis: 90%; */
    flex-grow: 3;
    height: 50px;
     display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.container-text{
margin: auto;
color: white;
font-family: "Poppins";
font-size: 12px;
}